/* fonts */

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

/* I had a problem with events targeting the children of elements */
/* solution from */
/* https://css-tricks.com/slightly-careful-sub-elements-clickable-things/ */
/* I don't like the idea of solving it outside of JS */
/* but I would have to refactor a lot of code */

button > *,
p {
  pointer-events: none;
}

:root {
  /* custom properties */
  /* Made based on atom one dark theme */
  /* --buttons-color: #596d48; */
  /* --shadow-specs: 5px 5px 5px var(--shadow-color); */
  --background-color: #282c34;
  --highlight-color: #e5c07b;
  --negative-color: #e06c75;
  --positive-color: #98c379;
  --white-color: #f3f4f6;
  --light-color: #dcdfe4;
}

body {
  font-family: 'Lato', sans-serif;

  height: 100vh;
  display: grid;
  grid-template-columns: 300px 4fr;
  grid-template-rows: 80px 1fr 60px;
}

#content {
  margin: 10px 50px;
}
header {
  background-color: var(--background-color);
  color: var(--white-color);
  padding: 10px 20px;

  display: flex;
  align-items: center;

  grid-column: 1 / -1;
}

button {
  outline: none;
  border: none;
  border-radius: 10px;
  padding: 5px;
}

button:hover {
  cursor: pointer;
  outline: 1px solid var(--background-color);
}
button:active {
  outline: 2px solid var(--background-color);
}

input {
  border: 1px solid var(--highlight-color);
  padding: 5px 10px;
  border-radius: 10px;
}

input:focus {
  outline: 1px solid var(--highlight-color);
}

.logo {
  display: flex;
  align-items: center;
}

.logo h1 {
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  padding-left: 20px;
  font-size: 35px;
}

.logo span {
  font-size: 35px;
}

/* project-tiles: */

/* nav {
  display: flex;
  flex: 0;
  flex-direction: column;
} */

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  color: #282c34;
  font-size: 1.3rem;
  font-weight: 900;
  background-color: var(--light-color);
  padding: 20px;
}

nav h2 {
  text-align: center;
  width: 100%;
  background-color: var(--white-color);
  padding: 10px;
  border-radius: 10px;
}

nav div#projects-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

nav div.project-tile {
  border-radius: 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

nav div.project-tile.active {
  background-color: var(--white-color);
}

nav div.project-tile.active p {
  font-weight: 900;
}

nav div.project-tile p {
  padding: 10px;
  font-weight: 400;
  font-size: 1.1rem;
}

nav div.project-tile:hover {
  outline: 1px solid var(--background-color);
}

button#add-project {
  background-color: var(--highlight-color);
  width: 50%;
}

/* forms */

form#project-form {
  display: flex;
  justify-content: space-between;
}

form#input-form {
  flex-direction: row-reverse;
  margin: 10px;
  display: flex;
  gap: 10px;
}

form#input-form input {
  flex-grow: 1;
}

footer {
  font-size: 0.9rem;
  color: var(--white-color);
  background-color: var(--background-color);

  grid-column: 1 / -1;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.task-tile {
  border-radius: 10px;
  padding: 10px 20px;
  margin: 10px 10px;
  background-color: var(--light-color);
  display: flex;
  justify-content: space-between;
}

button.task-delete-button:active {
  background-color: var(--positive-color);
}
